<div class="container-fluid text-center" style="width: 100vw; height: 100vh;">
  <div class="row align-items-center" style="width: 100vw; height: 100vh;">
    <div class="col-md-12" style="background-color: blueviolet; ">
      <p>
        Hi, I am Ilya,
        <br>
        and I am a</p>
    </div>
    <div class="col-md-6" style="background-color: yellow;">
      <div style="font-size: 50vh;">
        📷
      </div>
      <a routerLink="/photos/gallery" >Photographer</a>
    </div>
    <div class="col-md-6" style="background-color: yellow;">
      <div style="font-size: 50vh;">
        👨‍💻
      </div>
      <a routerLink="/programming">Programmer</a>
    </div>
  </div>
</div>
